<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SkyTunes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.2.10/dist/css/tempus-dominus.min.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d54ca58f45.js" crossorigin="anonymous"></script>
  </head>
  <body class="w-screen h-screen p-4">
    <div id="canvas" class="relative w-full max-h-[80vh] aspect-square mx-auto"></div>
    <div id="controls" class="container mx-auto px-2 py-2">
      <div class="control-grid">
        <label class="self-end" for="volume-control-input">
          Sound
        </label>
        <div>
          <icon-toggle id="volume-control" class="inline-block px-2 py-1 rounded-md bg-slate-100 hover:bg-slate-200 active:bg-slate-300 cursor-pointer"
            input-id="volume-control-input"
            on-label="Playing"
            on-icon="fa-solid fa-volume fa-fw"
            off-label="Muted"
            off-icon="fa-solid fa-volume-slash fa-fw">
          </icon-toggle>
        </div>
        <label for="datetimepickerInput" class="mr-4">Date</label>
        <div class="flex" id="datetimepicker" data-td-target-input="nearest" data-td-target-toggle="nearest">
          <input id="datetimepickerInput" type="text" class="w-full" data-td-target="#datetimepicker">
          <button class="px-2 bg-slate-100" data-td-target="#datetimepicker" data-td-toggle="datetimepicker">
            <i class="fa-solid fa-calendar"></i>
          </button>
        </div>
        <label id="longitude-control-label" for="longitude-control-input">Longitude</label>
        <multi-input id="longitude-control" class="flex space-x-4" value="0" min="-180" max="180" step="0.02">
          <input id="longitude-control-input" class="w-24" type="number" value="0">
          <input class="w-full" type="range" value="1" aria-labeledby="longitude-control-label">
        </multi-input>
        <label id="latitude-control-label" for="latitude-control-input">Latitude</label>
        <multi-input id="latitude-control" class="flex space-x-4" value="0" min="-90" max="90" step="0.02">
          <input id="latitude-control-input" class="w-24" type="number" value="0">
          <input class="w-full" type="range" value="0" aria-labeledby="latitude-control-label">
        </multi-input>
        <label id="speed-control-label" for="speed-control-input">Speed</label>
        <multi-input id="speed-control" class="flex space-x-4" value="1" min="1" step="0.1">
          <input id="speed-control-input" class="w-24" type="number" value="1">
          <input class="w-full" type="range" value="1" max="50" aria-labeledby="speed-control-label">
        </multi-input>
      </div>
    </div>
    <script src="../main.ts"></script>
  </body>
</html>
