---
import '../styles/bootstrap.scss'
import Controls from '../components/Controls.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SkyTunes</title>
    <script
      src="https://kit.fontawesome.com/d54ca58f45.js"
      crossorigin="anonymous"></script>
  </head>
  <body class="w-screen h-screen p-4">
    <div id="canvas" class="relative w-full max-h-[80vh] aspect-square mx-auto">
    </div>
    <Controls />
    <script src="../main.ts"></script>
  </body>
</html>
