---
import VolumeControl from './VolumeControl.astro'
import DateTimePicker from './DateTimePicker.astro'
import LongitudeControl from './LongitudeControl.astro'
import LatitudeControl from './LatitudeControl.astro'
import SpeedControl from './SpeedControl.astro'
---

<div id="controls" class="container p-2 mt-3">
  <div class="row g-2">
    <VolumeControl />
    <DateTimePicker />
    <LongitudeControl />
    <LatitudeControl />
    <SpeedControl />
  </div>
</div>
