<date-time-picker
  id="datetimepicker"
  class="input-group"
  data-td-target-input="nearest"
  data-td-target-toggle="nearest"
>
  <label for="datetimepickerInput" class="input-group-text">Date</label>
  <input
    id="datetimepickerInput"
    type="text"
    class="form-control"
    data-td-target="#datetimepicker"
  />
  <button
    type="button"
    class="btn btn-outline-secondary"
    data-td-target="#datetimepicker"
    data-td-toggle="datetimepicker"
  >
    <i class="far fa-calendar"></i>
  </button>
</date-time-picker>

<script>
  import { DateTimePicker } from '../custom-elements/date-time-picker'
  customElements.define('date-time-picker', DateTimePicker)
</script>
