---
import '@eonasdan/tempus-dominus/dist/css/tempus-dominus.css'
---

<date-time-picker
  id="datetimepicker"
  class="input-group"
  data-td-target-input="nearest"
  data-td-target-toggle="nearest"
>
  <label for="datetimepickerInput" class="input-group-text">Date</label>
  <input
    id="datetimepickerInput"
    type="text"
    class="form-control"
    data-td-target="#datetimepicker"
  />
  <button
    type="button"
    class="btn btn-outline-secondary"
    data-td-target="#datetimepicker"
    data-td-toggle="datetimepicker"
    aria-pressed="false"
  >
    <i class="far fa-calendar"></i>
  </button>
</date-time-picker>

<script>
  import { DateTimePicker } from '../custom-elements/date-time-picker'
  customElements.define('date-time-picker', DateTimePicker)

  const dateTimePicker = document.getElementById(
    'datetimepicker',
  ) as DateTimePicker
  const button = dateTimePicker.querySelector('.btn[data-td-toggle]')

  if (button) {
    dateTimePicker.td.subscribe('show.td', () => {
      button.setAttribute('aria-pressed', 'true')
      button.classList.add('active')
    })
    dateTimePicker.td.subscribe('hide.td', () => {
      button.setAttribute('aria-pressed', 'false')
      button.classList.remove('active')
    })
  }
</script>
