---
import MultiInput from './MultiInput.astro'
---

<label id="speed-control-label" for="speed-control-input">Speed</label>
<MultiInput
  id="speed-control"
  class="flex space-x-4"
  value="1"
  min="1"
  step="0.1"
>
  <input id="speed-control-input" class="w-24" type="number" value="1" />
  <input
    class="w-full"
    type="range"
    value="1"
    max="50"
    aria-labeledby="speed-control-label"
  />
</MultiInput>

<script>
  import type { MultiInput } from '../custom-elements/multi-input'
  import globalContext from '../lib/global'

  customElements.whenDefined('multi-input').then(() => {
    const speedControl = document.getElementById('speed-control') as MultiInput

    speedControl.getInputValue = (value, input) => {
      if (input.type === 'range') {
        return (Number(value) ** 2).toString()
      }
      return value
    }

    speedControl.setInputValue = (value, input) => {
      const step = speedControl.step?.split('.')[1].length || 0
      const speed = Number(value)
      if (input.type === 'range') {
        return Math.sqrt(speed).toFixed(step)
      }
      return speed.toFixed(step)
    }

    speedControl.value = globalContext.speed.toString()

    let speedControlTimeout: number
    speedControl.addEventListener('multiinput', () => {
      clearTimeout(speedControlTimeout)
      speedControlTimeout = window.setTimeout(() => {
        const speed = Number(speedControl.value)
        if (isNaN(speed) || speed <= 0) return
        globalContext.speed = speed
      }, 100)
    })

    globalContext.listen('speed', event => {
      speedControl.value = event.detail.speed.toString()
    })
  })
</script>
